<h1>Listing ideas for the Jerwood Video Award<%= ENV['LIST_TITLE'] %></h1>



<% @ideas.each do |idea| %>
  <div class="row">
    <div class="span6">
      <%= image_tag idea.picture_url, :width => '100%' if idea.picture.present?%>
      <h4><%= link_to idea.name, idea %></h4>
      <%= simple_format idea.description %>
      <br/>
      <%= link_to 'Show', idea %>
      <%= render :partial => "admin_links", :locals => { :idea => idea } %>
    </div>
  <div/>
<% end %>
<% if can?(:manage, @ideas) %>
  <%= link_to 'New Idea', new_idea_path %>
<% end %>