<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @idea.name%>
  <%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @idea.description %>
</p>

<p>
  <b>Medium:</b>
  <%= @idea.medium %>
</p>

<%= render :partial => "admin_links", :locals => { :idea => @idea } %>

<%= link_to 'Back', ideas_path %>
